div {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid #000;
    margin: 10px 20px;
    padding: 20px;
    display: inline-block;
}

/*se for acessado com uma dimensão menor que 768px, o site terá essa forma*/ 
@media (max-width: 768px){
    div{
        border-color: rebeccapurple;
        display: block;
        padding: 10px;
        margin: 5px 10px;
    }

    h2{
        font-size: 36px;
        color: blueviolet;
        text-decoration: underline;
    }
}